<% @page_title = 'MANAGE ACCOUNT INFO' %>

<%= render 'users/user_side_nav' %>

<div class="well col-md-9">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    
    <section class="col-md-6">
      <div class="field form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :email, 'Email Address' %><br />
        <%= f.text_field :email, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :shipping_add1, 'Shipping Address' %><br />
        <%= f.text_field :shipping_add1, autofocus: true, class: 'form-control address1'%>
        <%= f.text_field :shipping_add2, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :shipping_city, 'Town/City' %><br />
        <%= f.text_field :shipping_city, autofocus: true, class: 'form-control'%>
      </div>
      
      <div class="row">
        <section class="field form-group col-md-6">
          <%= f.label :shipping_state, 'State' %><br />
          <%= f.text_field :shipping_state, autofocus: true, class: 'form-control'%>
        </section>

        <section class="field form-group col-md-6">
          <%= f.label :shipping_zip, 'Zip' %><br />
          <%= f.text_field :shipping_zip, autofocus: true, class: 'form-control'%>
        </section>
      </div>

      <div class="field form-group">
        <%= f.label :shipping_country, 'Country' %><br />
        <%= f.text_field :shipping_country, autofocus: true, class: 'form-control'%>
      </div>

    </section>

    <section class="col-md-6">
      <div class="field form-group">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :password, 'New Password' %><br />
        <%= f.password_field :password, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :billing_add1, 'Billing Address' %><br />
        <%= f.text_field :billing_add1, autofocus: true, class: 'form-control address1'%>
        <%= f.text_field :billing_add2, autofocus: true, class: 'form-control'%>
      </div>

      <div class="field form-group">
        <%= f.label :billing_city, 'Town/City' %><br />
        <%= f.text_field :billing_city, autofocus: true, class: 'form-control'%>
      </div>
      
      <div class="row">
        <section class="field form-group col-md-6">
          <%= f.label :billing_state, 'State' %><br />
          <%= f.text_field :billing_state, autofocus: true, class: 'form-control'%>
        </section>

        <section class="field form-group col-md-6">
          <%= f.label :billing_zip, 'Zip' %><br />
          <%= f.text_field :billing_zip, autofocus: true, class: 'form-control'%>
        </section>
      </div>

      <div class="field form-group">
        <%= f.label :billing_country, 'Country' %><br />
        <%= f.text_field :billing_country, autofocus: true, class: 'form-control'%>
      </div>

    </section>

    <div class="actions col-md-12">
      <%= f.submit "Update Account", class: 'btn btn-primary', style: 'margin: 20px 0' %>
    </div>

  <% end %>

</div>