<div class="col-md-3">
	<section class="well">
		<ul class="nav nav-pills nav-stacked">
		  <li role="presentation"><%= link_to 'Back to Dashboard', admin_index_path %></li>
		  <li role="presentation"><%= link_to 'Manage Orders', admin_orders_path %></li>
		  <li role="presentation"><%= link_to 'Manage Courses', manage_admin_courses_path %></li>
		  <li role="presentation"><%= link_to 'Manage Categories', admin_categories_path %></li>
		  <li role="presentation"><%= link_to 'Manage Users', admin_users_path %></li>
		</ul>
	</section>
</div>