<% @page_title = 'WELCOME, ' + current_user.first_name.upcase + "!" %>

<div class="row">
	
	<section class="col-md-6">
		<h4>Orders to be shipped</h4>
		<div class="well">
			<section class="dashboard_table">
				<!-- if all orders shipped, display "no pending orders to be shipped" -->
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Type</th>
						<th>Total</th>
						<th>Payment</th>
						<th>Shipping</th>
					</tr>
					<% @line_items_to_ship.each do |line_item| %>
						<tr>
							<td><%= line_item.id %></td>
							<td><%= line_item.created_at.to_date %></td>
							<td><%= line_item.item_type %></td>
							<td>$<%= line_item.unit_price * line_item.quantity %></td>
							<td><%= line_item.order.pmt_status %></td>
							<td><%= line_item.shipping_status %></td>
						</tr>
					<% end %>
				</table>
			</section>
			<%= link_to 'Manage My Sales Orders', sold_line_items_path, class: 'btn btn-primary btn-sm' %>
		</div>
	</section>

	<section class="col-md-6">
		<h4>My Courses</h4>
		<div class="well">
			<section class="dashboard_table">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Course Title</th>
						<th>Created</th>
						<th>Earnings</th>
					</tr>
					<% @courses.each do |course| %>
						<tr>
							<td><%= course.id %></td>
							<td><%= course.title %></td>
							<td><%= course.created_at.to_date %></td>
							<td>$1000</td>
						</tr>
					<% end %>
				</table>
			</section>
			<%= link_to 'Manage My Courses', manage_courses_path, class: 'btn btn-primary btn-sm' %>&nbsp;
			<%= link_to 'Upload a New Course', new_course_path, class: 'btn btn-primary btn-sm' %>
		</div>
	</section>

</div>

<div class="row">
	
	<section class="col-md-6">
		<h4>My Purchases</h4>
		<div class="well">
			<section class="dashboard_table">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Total</th>
						<th>Method</th>
						<th>Payment</th>
					</tr>
					<% @orders.each do |order| %>
						<tr>
							<td><%= order.id %></td>
							<td><%= order.created_at.to_date %></td>
							<td><%= order.order_total %></td>
							<td><%= order.pmt_method %></td>
							<td><%= order.pmt_status %></td>
						</tr>
					<% end %>
				</table>
			</section>
			<%= link_to 'View Purchase History', purchase_history_orders_path, class: 'btn btn-primary btn-sm' %>
		</div>
	</section>

	<section class="col-md-6">
		<h4>My Account Info</h4>
		<div class="well">
			<section class="dashboard_table">
				<table class="table table-striped">
					<tr>
						<td><b>First Name: </b><%= current_user.first_name %></td>
						<td><b>Shipping Address:</b></td>
					</tr>
					<tr>
						<td><b>Last Name: </b><%= current_user.last_name %></td>
						<td><%= current_user.shipping_add1 %></td>
					</tr>
					<tr>
						<td><b>Email: </b><%= current_user.email %></td>
						<td><%= current_user.shipping_add2 %></td>
					</tr>
					<tr>
						<td><b>Phone: </b><%= current_user.phone %></td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</section>
			<%= link_to 'Manage Account Info', edit_user_registration_path, class: 'btn btn-primary btn-sm' %>
		</div>
	</section>

</div>