<% @page_title = 'CONFIRM YOUR ORDER' %>

<h4>Order Details</h4>

<div class="well">
	<section class="col-md-8 col-md-offset-2">
		<table class="table table-striped">
			<tr>
				<th>Coruse Title</th>
				<th>Type</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Subtotal</th>
			</tr>
			<% @order.line_items.each do |line_item| %>
				<tr>
					<td><%= line_item.course.title %></td>
					<td><%= line_item.item_type %></td>
					<td><%= line_item.quantity %></td>
					<td>$<%= line_item.unit_price %></td>
					<td>$<%= line_item.subtotal %></td>
				</tr>
			<% end %>
			<tr>
				<td colspan="3">&nbsp;</td>
				<td>Order Total:</td>
				<td>$<%= @order.order_total %></td>
			</tr>
		</table>
	</section>
	<section class="row">&nbsp;</section>
</div>

<h4>Personal Information</h4>

<div class="well">

	<section class="col-md-4">
		<table class="table table-striped">
			<tr><th>First Name</th></tr>
			<tr><td><%= @order.first_name %></td></tr>
			<tr><th>Last Name</th></tr>
			<tr><td><%= @order.last_name %></td></tr>
			<tr><th>Email Address</th></tr>
			<tr><td><%= @order.email %></td></tr>
		</table>
	</section>

	<section class="col-md-4">
		<table class="table table-striped">
			<tr><th colspan="2">Billing Address</th></tr>
			<tr><td colspan="2"><%= @order.billing_add1 %></td></tr>
			<tr><td colspan="2"><%= @order.billing_add2 %></td></tr>
			<tr><th colspan="2">Town / City</th></tr>
			<tr><td colspan="2"><%= @order.billing_city %></td></tr>
			<tr><th>State</th><th>ZIP<th></tr>
			<tr><td><%= @order.billing_state %></td><td><%= @order.billing_zip %></tr>
			<tr><th colspan="2">Country</th></tr>
			<tr><td colspan="2"><%= @order.billing_country %></td></tr>
		</table>
	</section>

	<section class="col-md-4">
		<table class="table table-striped">
			<tr><th colspan="2">Shipping Address</th></tr>
			<% if @order.billing_same == true %>
				<tr><td colspan="2">Same as Billing</td></tr>
			<% else %>
				<tr><td colspan="2"><%= @order.shipping_add1 %></td></tr>
				<tr><td colspan="2"><%= @order.shipping_add2 %></td></tr>
				<tr><th colspan="2">Town / City</th></tr>
				<tr><td colspan="2"><%= @order.shipping_city %></td></tr>
				<tr><th>State</th><th>ZIP<th></tr>
				<tr><td><%= @order.shipping_state %></td><td><%= @order.shipping_zip %></tr>
				<tr><th colspan="2">Country</th></tr>
				<tr><td colspan="2"><%= @order.shipping_country %></td></tr>
			<% end %>
		</table>
	</section>

	<div class="row">&nbsp;</div>

</div>

<h4>Payment Method</h4>

<div class="well ">

	<%= form_for @order, url: { action: 'complete' }, method: 'put', class: 'form-group' do |f| %>
		
		<section class="col-md-12">
			<div class="radio">
				<%= f.radio_button :pmt_method, 'cheque' %>
				<%= label :pmt_method_cheque, 'Cheque' %>
			</div>
			<div class="radio">
				<%= f.radio_button :pmt_method, 'transfer' %>
				<%= label :pmt_method_transfer, 'Bank Transfer' %>
			</div>
			<div class="radio">
				<%= f.radio_button :pmt_method, 'credit' %>
				<%= label :pmt_method_credit, 'Credit Card' %>
			</div>
		</section>

		<div class="row">&nbsp;</div>
		
</div>

<%= f.submit 'Proceed to Payment', class: 'btn btn-primary btn-lg', style: 'float:right' %>

<% end %>

















