<% @page_title = 'MY PURCHASE HISTORY' %>

<%= render 'users/user_side_nav' %>

<div class="well col-md-9">
	<table class="table table-striped">
		<tr>
			<th>Order #</th>
			<th>Purchase Date</th>
			<th>Total</th>
			<th>Payment Method</th>
			<th>Payment Status</th>
			<th>&nbsp;</th>
		</tr>
		<% @purchases.each do |purchase| %>
			<tr>
				<td><%= purchase.id %></td>
				<td><%= purchase.created_at.to_date %></td>
				<td>$<%= purchase.order_total %></td>
				<td><%= purchase.pmt_method %></td>
				<td><%= purchase.pmt_status %></td>
				<td><%= link_to 'Details', order_path(purchase), class: 'btn btn-primary btn-sm' %></td>
			</tr>
		<% end %>
	</table>
</div>