<div class="jumbo-wrap">
	<div class="jumbotron">
	  <h2 class="call-to-action">MAKE THE PERFECT SPECIAL GIFT FOR <br/>
	  	YOUR SPECIAL SOMEONE</h2>
	  <p><%= link_to 'FIND IDEAS', courses_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
</div>

<div class="row">
	<h3 style="text-align:center">Latest Ideas</h3>
	<hr/>
</div>

<div class="row">
	<% @courses.each do |course| %>
	<div class="col-md-3 text-center">
		<% unless course.featured_image.blank? %>
			<%= image_tag course.featured_image.url(:medium), class: 'img img-thumbnail' %>
		<% else %>
			<img src="http://placehold.it/230x230?text=No+Image" class='img img-thumbnail' />
		<% end %>
		<h5><%= course.title %></h5>
		<p>By <%= course.seller.full_name %></p>
	</div>
	<% end %>
</div>

<div class="row">&nbsp;</div>

<div class="row text-center">
	<%= link_to 'FIND MORE IDEAS', courses_path, class: 'btn btn-primary btn-lg' %>
	<hr/>
</div>















