<% @page_title = 'ADMIN - MANAGE CATEGORIES' %>

<%= render 'admin/side_nav' %>

<div class="well col-md-9">
	
	<section class="row col-md-10">
		<table class="table table-striped categories">
			<tr>
				<th>Category #</th>
				<th>Create Date</th>
				<th>Category Name</th>
				<th>&nbsp;</th>
			</tr>
			<% @categories.each do |category| %>
				<tr>
					<td class="id"><%= category.id %></td>
					<td class="create_date"><%= category.created_at.to_date %></td>
					<td class="category_name"><%= category.name %></td>
					<td class="actions"><%= link_to 'Rename', edit_admin_category_path(category), class: 'btn btn-primary btn-sm' %>
						<%= link_to 'Remove', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-sm' %></td>
				</tr>
			<% end %>
		</table>		
	</section>

	<section class="row col-md-12">
		<%= form_for @category, url: {controller: 'admin/categories', action: 'create'}, html: {class: 'form-inline'} do |f| %>
		  <div class="form-group">
		  	<%= f.label :name, 'Create a New Category: ' %>&nbsp;
		  	<%= f.text_field :name, autofocus: true, class: 'form-control'  %>&nbsp;
		  </div>

		  <%= f.submit 'Create', class: 'btn btn-primary' %>

		<% end %>
	</section>


</div>















