<div class="col-md-12">
	<h3>CATEGORIES</h3>
</div>

<%= render 'side_nav' %>

<div class="col-md-9">

	<% @courses.each do |course| %>
		<section class="col-md-4 text-center">
			<div class="well course">
					<% unless course.featured_image.blank? %>
						<%= link_to (image_tag course.featured_image.url(:thumbnail)), 
							course_path(course), class: 'img img-thumbnail' %>
					<% else %>
						<%= link_to (image_tag 'http://placehold.it/180x180?text=No+Image'), 
							course_path(course), class: 'img img-thumbnail' %>
					<% end %>
				<h5><%= link_to (truncate course.title, length: 25, omission: '...'), course_path(course) %></h5>
				<p class="author">By <%= course.seller.full_name %></p>
				<%= link_to 'I WANT TO LEARN THIS', course_path(course), class: 'btn btn-primary learn_this' %>
			</div>
		</section>
	<% end %>

</div>
