<% @page_title = @course.title %>

<section class="row">
	<div class="col-md-7">

		<section class="row text-center embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item"  src="<%= @course.video_link %>"></iframe>
		</section>

		<section class="row">&nbsp;</section>

		<section class="row">
			<div class="col-md-4 text-center">
				<img src="http://placehold.it/180x180" class="img-thumbnail center" />
			</div>
			<div class="col-md-4 text-center">
				<img src="http://placehold.it/180x180" class="img-thumbnail center" />
			</div>
			<div class="col-md-4 text-center">
				<img src="http://placehold.it/180x180" class="img-thumbnail center" />
			</div>
		</section>

	</div>

	<div class="col-md-5">

		<section class="well">
			<p><b>Author: </b><%= @course.user.full_name %></p>
			<p><b>Date Created: </b><%= @course.created_at.to_date %></p>
			<hr/>
			<h5>MATERIALS NEEDED:</h5>
			<hr/>
			<section class="materials_needed">
				<%= simple_format @course.materials %>
			</section>
			<h5>PRICE</h5>
			<hr/>
			<p>VIDEO: $<%= @course.video_cost %></p>
			<p>MATERIALS: $<%= @course.material_cost %></p>
		</section>

		<div class="row">
			<section class="col-md-6">
				<h5 class="text-center">BUY VIDEO</h5>
			</section>
			<section class="col-md-6">
				<h5 class="text-center">BUY MATERIALS</h5>
			</section>
		</div>

	</div>
</section>

<div class="row">&nbsp;</div>

<section class="row">
	<h3 class="text-center">SIMILAR IDEAS</h3>
	<hr/>
	<% (1..4).each do %>
		<div class="col-md-3 text-center">
			<img src="http://placehold.it/230x230" alt="" class="img img-thumbnail">
			<h5>Father's Day Self Made ...</h5>
			<p>By Stephen Leung</p>
		</div>
	<% end %>
</section>

<section class="row"><hr/></section>












