<tr>
	<td><%= line_item.course.title %></td>
	<td><%= line_item.item_type %></td>
	<td>
		<%= line_item.quantity %>
		<% if line_item.item_type == 'materials' %>&nbsp;
			<%= link_to '+', add_material_line_item_path(line_item), 
				class: 'btn btn-primary btn-xsm', remote: true %>
			<%= link_to '-', subtract_material_line_item_path(line_item), 
				class: 'btn btn-primary btn-xsm', remote: true %>
		<% end %>
	</td>
	<td>$<%= line_item.unit_price %></td>
	<td>$<%= line_item.subtotal %></td>
	<td><%= link_to 'Remove', line_item, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-sm' %></td>
</tr>
