<% @page_title = 'ADMIN - MANAGE ORDERS' %>

<%= render 'users/admin_side_nav' %>

<div class="well col-md-9">
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Type</th>
			<th>Qty</th>
			<th>Price</th>
			<th>Total</th>
			<th>Payment</th>
			<th>Shipping</th>
			<th>&nbsp;</th>
		</tr>
		<% @line_items.each do |line_item| %>
			<%= form_tag line_item_path(line_item), method: 'put' do %>
				<tr>
					<td><%= line_item.id %></td>
					<td><%= line_item.created_at.to_date %></td>
					<td><%= line_item.item_type %></td>
					<td><%= line_item.quantity %></td>
					<td>$<%= line_item.unit_price %></td>
					<td>$<%= line_item.unit_price * line_item.quantity %></td>
					<td><%= line_item.order.pmt_status %></td>
					<td><%= line_item.shipping_status %></td> <!--drop down select for update -->
					<td>
						<%= link_to 'Details', order_path(line_item.order), class: 'btn btn-primary btn-sm' %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>















