<% @page_title = 'MANAGE MY SALES ORDERS' %>

<%= render 'users/user_side_nav' %>

<div class="well col-md-9">
	<table class="table table-striped">
		<tr>
			<th>Order #</th>
			<th>Date</th>
			<th>Course</th>
			<th>Type</th>
			<th>Total</th>
			<th>Payment</th>
			<th>Shipping</th>
			<th>&nbsp;</th>
		</tr>
		<% @line_items.each do |line_item| %>
			<tr>
				<td><%= line_item.order.id %></td>
				<td><%= line_item.created_at.to_date %></td>
				<td><%= truncate line_item.course.title, length: 20, omission: '...' %></td>
				<td><%= line_item.item_type %></td>
				<td>$<%= line_item.unit_price * line_item.quantity %></td>
				<td><%= line_item.order.pmt_status %></td>
				<td><%= line_item.shipping_status %></td>
				<td><%= link_to 'Details', line_item_path(line_item), class: 'btn btn-primary btn-sm' %></td>
			</tr>
		<% end %>
	</table>
</div>