<% @page_title = 'EDIT COURSE # ' + @course.id.to_s %>
<% @title_right = link_to 'View Course', course_path(@course), class: 'btn btn-primary' %>

<%= render 'admin/side_nav' %>

<div class="well col-md-9">

	<%= render 'layouts/errors', obj: @course %>
	
  <%= form_for(@course, url: { controller: 'admin/courses', action: 'update' }, 
  	html: {class: "form-group", multipart: true}) do |f| %>

		<div class="field form-group">
			<%= f.label 'Categories (check all that applies)' %><br/>
			<%= hidden_field_tag('course[category_ids][]', nil) %>
			<% @categories.each do |category| %>
				<label class="category">
					<%= check_box_tag 'course[category_ids][]', category.id, category.id.in?(@course.categories.collect(&:id)) %>
					<span style="font-weight:normal"><%= category.name %></span>
				</label>
			<% end %>
		</div>

    <div class="field form-group">
      <%= f.label :title, 'Course Title (5-100 characters)' %><br />
      <%= f.text_field :title, autofocus: true, class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :description, 'Course Description (10-200 characters)' %><br />
      <%= f.text_area :description, rows: 2, autofocus: true, class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :video_link, 'Video Link' %><br />
      <%= f.text_field :video_link, autofocus: true, class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :materials, 'List of Materials' %><br />
      <%= f.text_area :materials, rows: 8, autofocus: true, class: 'form-control'%>
    </div>
		
		<div class="row">
	    <div class="field form-group col-md-6">
	      <%= f.label :video_cost, 'Video Cost' %><br />
	      <%= f.text_field :video_cost, rows: 8, autofocus: true, class: 'form-control'%>
	    </div>

	    <div class="field form-group col-md-6">
	      <%= f.label :material_cost, 'Materials Cost' %><br />
	      <%= f.text_field :material_cost, rows: 8, autofocus: true, class: 'form-control'%>
	    </div>
	  </div>
		
		<div class="row">
			<section class="col-md-4 text-center">
				<%= f.label :featured_image %><br/>
				<% unless @course.featured_image.blank? %>
					<%= image_tag @course.featured_image.url(:thumbnail), class: 'img img-thumbnail' %><br/>&nbsp;
	    	<%= link_to 'Remove Featured Image', remove_featured_admin_course_path,
	    		class: 'btn btn-primary btn-xsm btn-danger' %><br/>&nbsp;
	    	<% else %>
	    		<%= f.file_field :featured_image %>
				<% end %>
	    </section>

			<section class="col-md-4 text-center">
				<%= f.label :image1 %><br/>
				<% unless @course.image1.blank? %>
					<%= image_tag @course.image1.url(:thumbnail), class: 'img img-thumbnail' %><br/>&nbsp;
	    	<%= link_to 'Remove Image 1', remove_image1_admin_course_path,
	    		class: 'btn btn-primary btn-xsm btn-danger' %><br/>&nbsp;
	    	<% else %>
	    		<%= f.file_field :image1 %>
				<% end %>
	    </section>

			<section class="col-md-4 text-center">
				<%= f.label :image2 %><br/>
				<% unless @course.image2.blank? %>
					<%= image_tag @course.image2.url(:thumbnail), class: 'img img-thumbnail' %><br/>&nbsp;
	    	<%= link_to 'Remove Image 2', remove_image2_admin_course_path,
	    		class: 'btn btn-primary btn-xsm btn-danger' %><br/>&nbsp;
	    	<% else %>
	    		<%= f.file_field :image2 %>
				<% end %>
	    </section>
		</div>

		<div class="row">&nbsp;</div>

    <div class="actions">
      <%= f.submit "Update Course", class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>