<!DOCTYPE html>
<html>
<head>
  <title>Newdiy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- Modal -->
<section id="modal" class="modal fade">
	<div class="modal-body text-center">
		<img id="modalimage" src="" alt="Modal Photo" class="img img-thumbnail">
	</div>
</section>

<body>
	
	<div class="container" id="wrap">

		<section id="content">

			<div class="row">&nbsp;</div>

			<%= render 'layouts/navigation' %>

			<%= render 'layouts/title' %>

			<%= render 'layouts/messages' %>

			<%= yield %>

			<div style="clear:both"></div>

		</section>
		
	</div>

	<%= render 'layouts/footer' %>

</body>
</html>
